body{
    background-image: url(/static/img/imagen_inicio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#contenedor_vistas{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor_transparencia{
    background-color: rgba(255,255,255,.8);
    max-width: 80%;
    min-width: 60%;
    margin-top: 2%;
}

#contenedor_inputs{
    max-width: 95%;
    min-width: 70%;
    padding: 5%;
    background-color: black;
    text-align: left;
}

#cartaTitle_registro{
    font-weight: bold;
}

#cartaErrores_registro{
    color: red;
}

.form-group{
    text-align: left;
    margin: 5%;
}

.form-group label{
    color: white;
    font-weight: bold;
}

.form-control{
    font-weight: 500;    
    background-color: #dbe2f1;
    color: rgb(68, 68, 68);
    border-radius: 8px;
    height: auto;
    border: 2px solid transparent;
}

.form-control:hover{
    font-weight: 500;    
    background-color: #dbe2f1;
    color: rgb(68, 68, 68);
    border-radius: 8px;
    height: auto;
    border-color: #6085af;
}

.form-group label::after{
    content: "*";
    color: red;
    font-weight: bold;
}

#contenedor_documento{ 
    display: flex;
    margin: 5%;
}


#tipo_documento{   
    max-width: 25%;
}

#numero_documento{
    
    max-width: 75%;
}

#fecha{
    text-align: center;
    max-width: 100%;
    min-width: 100%;
}

.form-submit{
    text-align: center !important;
}

#registro_submit_button{
    margin: 5%;
    background-color: black;
    border-radius: 5px;
    border-color: dimgray;
    border-width: 1px;
    font-weight: bold;
    color: white;
}

#registro_submit_button:hover{
    background-color: gray;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    font-weight: bold;
    color: whitesmoke;
}

#cartaFoot_registro{
    font-weight: bold;
}