{% extends "layout.html" %}
{% block contenedor %}
<link rel="stylesheet" href="/static/css/detallesUsuario_estilo.css">
<div class="principal-container" id="container_main">
    <div class="container-imagen" id="container_imagen">
        <img src="/static/img/CineColombiaIsotipo.jpg" id="imagen_item" alt>
    </div>
    <div class="col-sm mx-auto" id="container_datosUsuario_c">
        <div class="container mx-auto" id="container_datosUsuario_c1">

            <div class="container text-center">
                <p class="h1 text">Detalles de usuario</p>
            </div>
            <table class="table table-responsive-md table-dark mx-sm-3" id="table_item">
                <tbody>
                    <tr>
                        <th scope="row">Nombre</th>
                        <td>luis ignacio matinez suarez</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Correo</th>
                        <td>luis@uninorte.edu.co</td>

                    </tr>
                    <tr>
                        <th scope="row">Documento</th>
                        <td>124126138</td>

                    </tr>
                    <tr>
                        <th scope="row">fecha de nacimiento</th>
                        <td>15/06/97</td>
                    </tr>
                    <tr>
                        <th scope="row">Celular</th>
                        <td>3108835073</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}