{% extends "layout.html" %}
{% block contenedor %}
<link rel="stylesheet" href="/static/css/inicio_de_sesion_estilo.css">
<div class="container-fluid pb-4 pt-4">
    <div class="container">
        <div class="card text-center" style="opacity: 0.8;">
            <div class="card-body" id="cartaCapa1_inicio_de_sesion">
                <h4 class="card-title" style="font-weight: bold;">Iniciar Sesión</h4>
                {% if errores %}
                    {{ errores }}
                {% endif %}
                <div class="container text-light mx-auto my-2" style="width: 80%; background-color: black;">
                    <form action="{{ url_for('inicioSesion') }}" method="post" novalidate>
                        {{ formI.hidden_tag() }}
                        <div class="form-group">
                            {{ formI.correo.label }}
                            {{ formI.correo(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ formI.contrasena.label }}
                            {{ formI.contrasena(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ formI.ingreso(class="btn btn-dark") }}
                        </div>
                    </form>
                    <p class="card-text">Ingresa con tu correo y contraseña registrados.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}