{% extends "layout.html" %}
{% block contenedor %}
<div id="contenedor_vistas">
    <link rel="stylesheet" href="/static/css/inicio_de_sesion_estilo.css">
    <div class="container-fluid">
    <div class="card" id="cartaMain_inicio_de_sesion">
        <div class="card-body" id="cartaCapa1_inicio_de_sesion">
            <h4 class="card-title" style="font-weight: bold;">Iniciar Sesión</h4>
            <p class="card-text">Ingresa con tu correo y contraseña registrados.</p>
        </div>
    </div>
    </div>
</div>   
{% endblock %}